/**/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

header{
    background-color: rgba(124, 162, 243, 0.192);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
main {
    flex: 1;
    padding: 20px;
}
footer{
    background-color: rgba(124, 162, 243, 0.192);
    padding: 10px;
    text-align: right;
    margin: 0px
}

/*navbar*/


.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 30px;
    position: relative;
    
}

.nav-link {
    margin: 0 10px;
    font-family: "Edu NSW ACT Cursive", cursive;
    
}
.nav-link:hover{
    scale: 1.2;
}

.nav-item{
    display: flex;
    gap: 1.5rem;
    list-style: none;

}

/*Logo*/
.imagenheader{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    display: flex;
    align-items: flex-start;
}


img {
    max-width: 100%;
    height: auto;
} 

.titulo{  
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
}

.container{
    padding: 20px 20px 0 20px;
    
}

/*Footer*/

.imagenRS{
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}
.imagenRS:hover {
  transform: scale(1.1); 
}

.imagen2 {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.footercont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* controla el espacio entre los íconos */
  padding: 20px;
}



@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .imagenheader {
    display: none;
  }

  img{
    max-width: 100%;
    height: auto;
  }
}
