.imagenheader{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    
}


.logo {
    width: 100px;
    height: auto;
    justify-items: start;
} 

.titulo{  
    font-family: "Edu NSW ACT Cursive";
    font-size: 2rem;
    margin: 0;
    text-align: left;
}

