@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .imagenheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .logo{
    width: 100px;
    height: auto;
  }

  .titulo{
    display: none;
  }

  img{
    max-width: 100%;
    height: auto;
  }
 .grid-form {
    grid-template-columns: 1fr;
  }
  
  .sobre-mi {
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    text-align: justify;
    padding: 10px;
  }

  .foto-sobre-mi {
    width: 80%;
    max-width: 300px;
  }
}

  .home-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .home-texto {
    text-align: center;
    align-items: center;
  }

  .home-img {
    margin-bottom: 20px;
  }

}

